.bigContainer{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.containerMain{
    background: linear-gradient(80deg, rgb(11, 10, 10) 50%, #aa4e79 99%);    right:0;
    font-style: oblique;
    width: fit-content;
}
.main{
    width: 100%;
    min-width: fit-content;
    min-width: 100vh;
    display: flex;
    padding: 5rem 0rem 0rem 0rem;
}
.prof-img{
    width: 24rem;
    height: 12rem;   
    padding-left: 10rem;
}
.more-button{
    width: 8rem;
    height: 3rem;
    background: pink;
    margin: 3rem 0 3rem 0;
    border-radius: 6px;
}
.more-button:hover{
    cursor: pointer;
    background:  rgb(235, 109, 151);
}
.bottom-container{
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
}