.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding: 0.5rem;
    color: pink;
    display: flex;
    flex-direction: row;
    background: grey;
    box-shadow: 0 0px 5px 0 black;
    font-size: 17px;
}
 
.nav-current{
    margin-right: 50px;
    color: rgb(235, 109, 151);

}
.nav-detail{
    margin-right: 50px;
    color: rgb(235, 109, 151);

}
.nav-portfolio{
    margin-right: 50px;
    color: rgb(235, 109, 151);

}

.footer{
    width: 100%;
    text-align: center;
    color: pink;
    display: flex;
    flex-direction: row;
    background: black;
    font-size: 17px;
    bottom: 0;
    border-top: 1px solid pink;
}

.footer-inner{
    display: flex;
    flex-direction: row;
    margin: 2rem 0rem 1rem 60rem;
}

.github{
    margin-right: 50px;
     width: 27px;
    height: 27px;
}
.insta{
    margin-right: 50px;
        width: 27px;
    height: 27px;}
.linkedin{
    margin-right: 50px;
    width: 27px;
    height: 27px;
}
.github:hover{
    cursor: pointer;
    transform: scale(1,1.1);
    box-shadow: 2px 2px 10px pink;  

}
.insta:hover{
    cursor: pointer;
    transform: scale(1,1.1);
    box-shadow: 2px 2px 10px pink;  
}
.linkedin:hover{
    cursor: pointer;
    transform: scale(1,1.1);
    box-shadow: 2px 2px 10px pink;  

}
a{
    text-decoration: inherit;
}
.navBar{
    display: flex;
    flex-direction: row;
    margin-left: 58rem;
}


.nav-home{
    margin-right: 50px;
}

.nav-home:hover{
    cursor: pointer;
    color: rgb(235, 109, 151);
}

.nav-detail{
    margin-right: 50px;
}

.nav-detail:hover{
    cursor: pointer;
    color: rgb(235, 109, 151);
    }

.nav-porfolio{
    margin-right: 0;
}

.nav-porfolio:hover{
    cursor: pointer;
    color: rgb(235, 109, 151);
    }